@layer reset {
    // RWD Bases
    *,
    *::before,
    *::after {
      box-sizing : border-box;
      margin     : 0;
      padding    : 0;
    }
  
    body {
      display        : flex;
      flex-direction : column;
      min-height     : 100svh;
      margin         : 0;
      overflow-x     : hidden;
    }
  
    :where(h1, h2, h3, h4, h5, h6) {
      text-wrap : balance;
    }
  
    :where(p) {
      text-wrap : pretty;
    }
  
    img {
      display           : block;
      max-width         : 100%;
      height            : auto;
      vertical-align    : middle;
      font-style        : italic;
      background-repeat : no-repeat;
      background-size   : cover;
    }
  
    input, button, textarea, select {
      color          : inherit;
      font           : inherit;
      letter-spacing : inherit;
      word-spacing   : inherit;
    }
  
    /* Make it clear that interactive elements are interactive */
    :where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*='-'])) {
      //cursor       : pointer;
      touch-action : manipulation;
    }
  
    :where(input[type='file']) {
      cursor : auto;
    }
  
    /*:where(input[type='file'])::-webkit-file-upload-button,
    :where(input[type='file'])::file-selector-button {
      cursor : pointer;
    }*/
    /* Make sure users can't select button text */
    :where(button, button[type], input[type='button'], input[type='submit'], input[type='reset']),
    :where(input[type='file'])::-webkit-file-upload-button,
    :where(input[type='file'])::file-selector-button {
      -webkit-tap-highlight-color : transparent;
      -webkit-touch-callout       : none;
      user-select                 : none;
      text-align                  : center;
    }
  
    :where(button, button[type], input[type='button'], input[type='submit'], input[type='reset'])[disabled] {
      cursor : not-allowed;
    }
  
    @include no-reduce-motion {
      :root {
        --timing-transition-micro  : 100ms;
        --timing-transition-base   : 200ms;
        --timing-transition-smooth : 350ms;
      }
  
      html {
        scroll-behavior : smooth;
      }
    }
  
    @include reduce-motion {
      *,
      *::before,
      *::after {
        animation-duration        : 0.01ms !important;
        animation-iteration-count : 1 !important;
        scroll-behavior           : auto !important;
        transition-duration       : 0.01ms !important;
      }
  
      *::after,
      *::before {
        animation  : none !important;
        transition : none !important;
      }
  
      html {
        scroll-behavior : auto;
      }
    }
  }